.formup-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.formup-input {
  width: 80%;
  min-height: 20px;
  margin-bottom: 10px;
}

.formup-input-danger {
  border: 1px solid red;
}

.custom-input-error-label {
  color: red;
  font-size: 12px;
}
